.table {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: white;
}

.table tr:last-child td {
    padding-bottom: 10px;
}

.table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
    padding-bottom: 20px;
}

.table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.table thead tr th {
    white-space: nowrap;
    font-weight: 600;
    border-bottom: 1px solid #bfbfbf;
    padding: 10px 7px 3px 7px;
    color: #cdcdcd;
    text-align: left;
}

.table tbody tr td {
    background-color: #f5f4f7;
    color: #131313;
    padding: 3px 7px 3px 7px;
}